h1 {
    font-size: 50px;
    color: skyblue;
    font-weight: normal;
    font-variant: small-caps;
    font-style: italic;
    text-decoration: line-through;
}

a {
    text-decoration: none;
}

p {
    color: rgb(255, 80, 342);
    text-indent: 100px;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 5px;
}