body {
    background-color: rgb(0, 0, 0);
    color: white;
}



/* :nth-child(3n) --> urutan dengan kelipatan ke - 3 */

li:nth-child(3n) a {
    color: red;
}

p:nth-child(3n) a {
    color: red;
}

/* NOTE : Harus ada pembungkusnya/parentnya */